.hours-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hours-content {
  max-width: 350px;
}

.hours-summary .toggle-btn {
  transition: transform 0.3s ease;
  background: none;
  border: none;
  font-size: 1rem;
}

.hours-summary .toggle-btn.expanded {
  transform: rotate(180deg);
}

.hours-list {
  list-style: none;
  padding-left: 1rem;
}

.hours-list li {
  font-size: var(--primary-font-size);
  display: flex;
  justify-content: space-between;
}

.hours-list li.today {
  font-weight: 500;
  font-size: 1.75rem;
}

.hours-list li.closed {
  opacity: 0.6;
  font-style: italic;
}

.toggle-container {
  justify-self: start;
  align-self: end;
}

.toggle-btn {
  transition: transform 0.3s ease;
  background: none;
  border: none;
  font-size: 1.4rem;
}

@media (max-width: 600px) {
  .hours-container {
    grid-template-columns: 1fr;
    /* one column on small screens */
    grid-template-rows: auto auto;
  }

  .toggle-container {
    margin-top: 0.5rem;
    justify-self: start;
    align-self: start;
  }

  .hours-content {
    max-width: 100%;
  }

  .hours-list li {
    font-size: 1rem;
    /* smaller on mobile maybe */
  }

  .hours-list li.today {
    font-size: 1.3rem;
  }
}
