.hours-content {
  max-width: 400px;
}

.hours-list {
  list-style: none;
  padding-left: 1rem;
}

.hours-list li {
  font-size: var(--primary-font-size);
  display: flex;
  justify-content: space-between;
}

.hours-list li.today {
  font-weight: 500;
  font-size: 1.75rem;
}

.hours-list li.closed {
  opacity: 0.6;
  font-style: italic;
}

@media (max-width: 600px) {
  .hours-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .hours-content {
    max-width: 100%;
  }
}
