.location-section {
  padding: 5rem 0;
}

.location-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 90%;
  gap: 2rem;
  margin: 0 auto;
  transform: translateY(20px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.location-content-left {
  flex: 1;
}

.location-address {
  font-size: var(--primary-font-size);
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.location-address a {
  display: block;
}

.location-address a + a {
  margin-top: 0.25rem;
}

.location-content-right {
  flex: 1;
}

.location-map {
  min-height: 400px;
  width: 100%;
  height: 100%;
}

.google-maps {
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 768px) {
  .location-content {
    grid-template-columns: 1fr;
  }
}
